[user]
	name = AaronOrtega1
	email = aaron.ortega15@outlook.es
[includeif "gitdir:~/Documents/Code/Work/"]
  path = ~/.gitconfig-work
[merge]
	tool = meld
[diff]
	tool = meld
[credential]
	helper = cache
[http]
	postBuffer = 524288000
[core]
	autocrlf = input
[init]
	defaultBranch = master
[pull]
	rebase = false
