[Unit]
Description=EWW Window Manager
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/eww daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
