/* colors defined at top for easy configuring */
@define-color background        #1E1E2E;
@define-color text              #CDD6F4;
@define-color borders           #5E81AC;
@define-color focused           #89B4FA;
@define-color urgent            #F38BA8;
@define-color hover             #CBA6F7;


/* font declared */
* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
}

#custom-openbracket,
#custom-closebracket{
    margin: 0 5px ;
}

window#waybar {
    background-color: transparent;
    margin: 4px 0 0 4px;
    border-bottom: 0;
    color: @text;
    transition: background-color 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* configuring the modules */
.modules-left {
    margin: 8px 0 0 8px;
    padding: 0 7px 0 7px;
    background-color: @background;
    border: 2px solid @borders;
}

.modules-center {
    margin: 8px 0 0 0;
    padding: 0 10px 0 10px;
    background-color: @background;
    border: 2px solid @borders;
}

.modules-right {
    margin: 8px 8px 0 0;
    padding: 0 10px 0 10px;
    background-color: @background;
    border: 2px solid @borders;
}

/*
 * ========================================
 * LEFT
 * ========================================
 */

/* workspace */
#workspaces button {
    padding: 0px 8px 0px 4px;
    background: transparent;
    color: @text;
    border-radius: 0;
    transition: none;
}
#workspaces button:hover {
    color: @hover;
}
#workspaces button.active {
    color: @focused;
    background-color: @background;
}
#workspaces button.urgent {
    color: @urgent;
}

/* media player */
#mpris {
    padding: 0 4px ;
    color: @text;
}
#mpris.playing {
    background-color: @background;
    color: @text;
}

/*
 * ========================================
 * CENTER
 * ========================================
 */
#window{
    padding: 0 5px;
}

/*
 * ========================================
 * RIGHT
 * ========================================
 */

/* module general styles */
#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#custom-bluetooth,
#network {
  padding: 0 10px ;
}

#battery:hover,
#custom-cpu:hover,
#network:hover,
#backlight:hover{
    color: @hover;
}


/* Remaining Modules */
#backlight,
#wireplumber{
    padding: 0 5px;
}

#battery.charging,
#battery.plugged {
  background-color: @borders ;
  color: @background;
}

#battery.critical:not(.charging) {
  background-color: @urgent;
  color: @text;
  animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
  to {
    background-color: @background;
    color: @text;
  }
}
